<div class="container">
  
  <h1 class="text-center">Learn JavaScript the Easy Way</h1>

  <div class="well">
    <h4>Here's a quick sample of code that will display new text after clicking a button:</h4>

    <button type="button"
    onclick="document.getElementById('newtext').innerHTML = 'New text shown here' ">
    Click Me to Display Text Below this Button</button>

    <p id="newtext"></p>
    <h4>Code:</h4>
    <blockquote>
      <pre>
        <code>
            &lt;button type="button"
            onclick="document.getElementById('newtext').innerHTML = Here's some new text"&gt;
            Click me to Text Below this Button&lt;/button&gt;
        </code>
      </pre>
    </blockquote>

    <h4>Synopsis:</h4>
    <p>You're creating a button, that when clicked, will display the current date and time below it, in the area that has been designated with an id of "newtext"</p>

    <h4>Breakdown:</h4>
    <ul>
      <li>button type="button" is just HTML used to create a button</li>
      <li>onclick="" is used by JavaScript anytime you want a behavior associated with clicking a button, a link, or an image</li>
      <li>within the double quotes after onclick= is document.getElementById('newtext').innerHTML = 'New text shown here'</li>
      <li>the easiest way for me to think of document is as data</li>
      <li>getElementByID is referring to the id created above, which here is "newtext"</li>
      <li>innerHTML I think of as printing out on the screen, which here will be 'New text shown here'</li>
    </ul>

    <h4>Practical Uses:</h4>
    <ul>
      <li>Displaying an answer to a question</li>
      <li>Display additional information</li>
    </ul>
  </div>


  <p>
  Lorem ipsum dolor sit amet, graeci aliquid admodum no est, te est ceteros omittam adipiscing, omnis tritani sit ne. Vis rebum impedit consetetur no. Meis dicat dolorum duo ad, quo no graeco pertinacia, ridens debitis atomorum te sit. Eu qui alia vivendo.
  </p>

  <p>
  Appetere consequuntur cum te, his ut tritani vituperata, alterum electram convenire ne cum. Invenire mediocrem est cu. Accusam blandit ancillae vel ei, cum quod modo ponderum ei. Sumo vituperatoribus no qui. Mea inani sadipscing at, vim eu nihil impetus accommodare, ei has porro idque feugait. Veniam pertinax adversarium te vix, duo ne singulis molestiae comprehensam.
  </p>

  <p>
  Graeco sententiae eu cum, pri at eros denique, eos cetero audiam te. Euismod legimus et duo, ex quo nemore quaerendum. Democritum definiebas reprimique cu mea, pri populo vulputate in. Eu eum nostro blandit gloriatur. Dissentias dissentiet usu at.
  </p>

  <p>
  Est dicam imperdiet no, per exerci graeci labores ex. Vix ad graeci singulis evertitur, at vim singulis eleifend. Nulla essent an has, integre voluptua usu ne. Alienum phaedrum eum ad, nam clita semper et. Eum vero interesset te. An eum novum legere intellegam, quem affert admodum ne quo. An audiam instructior eam.
  </p>

  <p>
  At libris integre sed, munere putent copiosae an mea, verear gloriatur disputando ei has. Eos ipsum utamur prodesset ad. Ut tale dicta movet pro, at ornatus electram sit, eu eius oratio accommodare duo. Nibh delicata salutandi ex eum, eos an ferri lorem voluptua. Dicat accumsan mei ea, at has quis congue animal. Ad consul ocurreret eam, ne mea legere putant oportere, et illud facete consetetur est.
  </p>

  <p>
  Lorem ipsum dolor sit amet, graeci aliquid admodum no est, te est ceteros omittam adipiscing, omnis tritani sit ne. Vis rebum impedit consetetur no. Meis dicat dolorum duo ad, quo no graeco pertinacia, ridens debitis atomorum te sit. Eu qui alia vivendo.
  </p>

  <p>
  Appetere consequuntur cum te, his ut tritani vituperata, alterum electram convenire ne cum. Invenire mediocrem est cu. Accusam blandit ancillae vel ei, cum quod modo ponderum ei. Sumo vituperatoribus no qui. Mea inani sadipscing at, vim eu nihil impetus accommodare, ei has porro idque feugait. Veniam pertinax adversarium te vix, duo ne singulis molestiae comprehensam.
  </p>

  <p>
  Graeco sententiae eu cum, pri at eros denique, eos cetero audiam te. Euismod legimus et duo, ex quo nemore quaerendum. Democritum definiebas reprimique cu mea, pri populo vulputate in. Eu eum nostro blandit gloriatur. Dissentias dissentiet usu at.
  </p>

  <p>
  Est dicam imperdiet no, per exerci graeci labores ex. Vix ad graeci singulis evertitur, at vim singulis eleifend. Nulla essent an has, integre voluptua usu ne. Alienum phaedrum eum ad, nam clita semper et. Eum vero interesset te. An eum novum legere intellegam, quem affert admodum ne quo. An audiam instructior eam.
  </p>

  <p>
  At libris integre sed, munere putent copiosae an mea, verear gloriatur disputando ei has. Eos ipsum utamur prodesset ad. Ut tale dicta movet pro, at ornatus electram sit, eu eius oratio accommodare duo. Nibh delicata salutandi ex eum, eos an ferri lorem voluptua. Dicat accumsan mei ea, at has quis congue animal. Ad consul ocurreret eam, ne mea legere putant oportere, et illud facete consetetur est.
  </p>

  <p>
  Lorem ipsum dolor sit amet, graeci aliquid admodum no est, te est ceteros omittam adipiscing, omnis tritani sit ne. Vis rebum impedit consetetur no. Meis dicat dolorum duo ad, quo no graeco pertinacia, ridens debitis atomorum te sit. Eu qui alia vivendo.
  </p>

  <p>
  Appetere consequuntur cum te, his ut tritani vituperata, alterum electram convenire ne cum. Invenire mediocrem est cu. Accusam blandit ancillae vel ei, cum quod modo ponderum ei. Sumo vituperatoribus no qui. Mea inani sadipscing at, vim eu nihil impetus accommodare, ei has porro idque feugait. Veniam pertinax adversarium te vix, duo ne singulis molestiae comprehensam.
  </p>

  <p>
  Graeco sententiae eu cum, pri at eros denique, eos cetero audiam te. Euismod legimus et duo, ex quo nemore quaerendum. Democritum definiebas reprimique cu mea, pri populo vulputate in. Eu eum nostro blandit gloriatur. Dissentias dissentiet usu at.
  </p>

  <p>
  Est dicam imperdiet no, per exerci graeci labores ex. Vix ad graeci singulis evertitur, at vim singulis eleifend. Nulla essent an has, integre voluptua usu ne. Alienum phaedrum eum ad, nam clita semper et. Eum vero interesset te. An eum novum legere intellegam, quem affert admodum ne quo. An audiam instructior eam.
  </p>

  <p>
  At libris integre sed, munere putent copiosae an mea, verear gloriatur disputando ei has. Eos ipsum utamur prodesset ad. Ut tale dicta movet pro, at ornatus electram sit, eu eius oratio accommodare duo. Nibh delicata salutandi ex eum, eos an ferri lorem voluptua. Dicat accumsan mei ea, at has quis congue animal. Ad consul ocurreret eam, ne mea legere putant oportere, et illud facete consetetur est.
  </p>
</div>