<div class="container">

  <!-- Top Introductory Box -->

  <div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h1 class="text-center text-lg text-uppercase my-0"><strong>Learn HTML the Easy Way</strong></h1>
    <hr class="divider">  
    <p> Below are sample snippets of code that can be used in your program, with detailed descriptions of the code and common uses. Feel free to search for what you need, and copy and paste the code!</p>     
  </div>

  <!-- Main Content -->

  <div class="bg-faded p-4 my-4">
    <p> HTML stands for Hypertext Markup Language and is one of the three languages that can be used to create a basic website. The other two are CSS and JavaScript.</p>   

    <p> HTML is made up of tags. Tags follow the same syntax. <br>
    &lt;tag&gt;&lt;/tag&gt;<br>
    With tags, you can identify a number of elements on your page, such as headers, paragraphs, and bullet points. Tags surround content, such as text or images.</p>
  </div>

  <!-- Tags -->

  <div class="bg-faded p-4 my-4">
    <h2>Following are the most common HTML tags</h2>
    <h3>Headers</h3>
    <h4>There are 6 header tags. The h1 tag is used to identify the h1 header, and is the most important header on the page. It's also the biggest. All header tags are bold and provide a little bit of spacing around them. The sizes provided below are estimates and will vary depending on the browser.</h4>
    <h1>&lt;h1&gt; Header One is 32px &lt;/h1&gt;</h1>
    <h2>&lt;h2&gt; Header Two is 24 px &lt;/h2&gt;</h2>
    <h3>&lt;h3&gt; Header Three is 19 px &lt;/h3&gt;</h3>
    <h4>&lt;h4&gt; Header Four is 16 px &lt;/h4&gt;</h4>
    <h5>&lt;h5&gt; Header Five is 13 px &lt;/h5&gt;</h5>
    <h6>&lt;h6&gt; Header Six is 11 px &lt;/h6&gt;</h6>
    <h3>Paragraph</h3>
    <h4>The paragraph tag is the default tag used for the majority of text on your screen. The default paragraph size is 16px, depending on your browser. Therefore, it's the same size as the h4 tag, but not bold. It does provide spacing around it. </h4>
    <p>&lt;p&gt; Here's an example of the paragraph tag. &lt;/p&gt;</p>

  </div>

</div>